# Игнорировать всё
*

# Разрешить основные файлы
!.gitignore
!*.lua
!*.tga
!*.md
!*.toc

# Разрешить всю папку libs, кроме конкретных подпапок
!libs/
libs/тест/
!libs/*/
!libs/*/*/
!libs/*/*/*/
!libs/*/*/*/*/