# Игнорировать всё
*

# Не игнорировать основные файлы
!.gitignore
!example.lua
!functions.lua
!main.lua
!tooltips.lua
!emblem.tga
!classes.lua
!chats.lua
!NSQC3.toc

# Рекурсивно разрешить всё внутри libs/
!libs/
!libs/**/*